
        body, input, button {
            font-family: arial, sans-serif;
            font-size: 14px;
            font-family: arial,sans-serif;
            color: #222;
        }
        .header {
            display: flex;
            flex-direction: row;
            align-content: flex-end;
            padding: 6px;
        }
        .header-content{
            margin-left: auto;
            /* padding: 6px;
            border-radius: 2px;
            margin-right: 2px; */
            box-sizing: border-box;
            height: 48px;
            line-height: normal;
            padding: 4px;
            justify-content: flex-end;
            display: inline-block;
        }
        a{
            cursor:pointer;
            text-decoration:none;
            color:black;
            
        }
        .links {
            padding-left: 20px;
        }
        a:hover{
            color: black;

        }

        .boton{
            width:30px;
            height:30px;
            
            margin: 5px;
            padding:4px;
            padding-right: 4PX;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            font-size:11px;
            text-transform: uppercase;
            display: inline-block;
            transition: box-shadow .3s;
}
        .imagen {
            display: inline-block;
            width:30px;
            height:30px;
        }
        .boton:hover{
        /* opacity: 0.50;
        -moz-opacity: .50;
        filter:alpha (opacity=50); */
        box-shadow: 0 0 11px rgba(92, 92, 92, 0.2); 
        }

    .google{
        flex-shrink: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .busqueda {
        padding: 20;
        position: relative;
        margin: 0 auto;
        padding-top: 6px;

        width: auto;

    }
    .busqueda_div{
     
        display: flex;
      
        box-shadow: none;
        border-radius: 24px;
  
        flex-direction: flex;
        align-items: center;
        width: 482px;

    }
    .redondeadonorelieve {
        border-radius: 20px;
        border: 1px solid #222;
        width: 482px;
   
        display: flex;
        padding-top: 6px;
      }
    .redondeadonorelieve:hover{
        opacity: 0.20;
        -moz-opacity: .50;
        filter:alpha (opacity=50);
    }
      .botonera{
          margin-top: 18px;
          flex-direction: row;
          align-items: center;
          display: flex;
          max-width: 482px;
      }
      .enter {
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: arial,sans-serif;
        font-size: 14px;
        margin: 11px 4px;
        padding: 0 16px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;
        user-select: none;
        
      }
      .enter:hover {
        opacity: 0.80;
        -moz-opacity: .50;
        filter:alpha (opacity=50);

      }


/* ADVANCE */
.advanceinput {
    display: inline-block;
    width: 50%;
    margin: auto;
    text-align: left;
    
}
.adv {
    /* display: flex;
    text-align: left; */
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}
.late {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}
.adv_inst {
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0;
    font-style: inherit;
}
/* as_epq
esta palabra o frase exactas: */